<!DOCTYPE html>
<html>
<!-- show all products -->
<head>
  <title>SkinCare Rack App</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <%- include('./partials/css.ejs') %>
</head>

<body>
  <h1>My Rack</h1>
  <p>See items on My Rack</p>
  <button onclick="window.location.href='/'"> Home!!</button>
  <button onclick="window.location.href='/2/rack/add'"> Add Rack Item</button>

  <% rackItems.forEach(function(productItem) { %>
    <div class="col-4 mb-2">
      <div class="card p-2">
        <div class="card-title">
          <h4>
            <%= productItem.products.name %>
          </h4>
        </div>
        <div class="card-text">
          <div>
            <label>Type: <output>
                <%= productItem.products.type %>
              </output>
            </label>
          </div>
          <div>
            <label>Price ($): <output>
                <%= productItem.products.price_in_usd %>
              </output>
            </label>
          </div>
          <div>
            <label>Size (g): <output>
                <%= productItem.products.size_in_grams %>
              </output>
            </label>
          </div>
          <div>
            <label>Purchased Date: <output>
                <%= productItem.rack.purchased_date %>
              </output>
            </label>
          </div>
          <a type="button" class="btn btn-outline-danger btn-sm"
            href="/2/rack/<%= productItem.products._id %>/delete">Remove This Item</a>
          <a type="button" class="btn btn-outline-danger btn-sm"
            href="/2/rack/<%= productItem.products._id %>/edit">Edit</a>
        </div>
        <!-- /.card-text -->
      </div>
      <!-- /.card -->
    </div>

    <% }); %>

</body>

</html>

</body>

</html>